version: "3.9"

services:
  zookeeper:
    image: bitnami/zookeeper:3.9
    container_name: zookeeper
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
    ports:
      - "2181:2181"
    networks:
      - fraud_net

  kafka:
    image: bitnami/kafka:3.7
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092
      - KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE=true
      - ALLOW_PLAINTEXT_LISTENER=yes
    networks:
      - fraud_net

  ignite-node:
    image: apacheignite/ignite:2.15.0
    container_name: ignite-node
    ports:
      - "127.0.0.1:10800:10800"
    environment:
      - IGNITE_EDITION=community
    volumes:
      - ./infra/ignite/init.sql:/opt/ignite/init/init.sql:ro
    command: ["/opt/ignite/apache-ignite/bin/ignite.sh", "./examples/config/example-ignite.xml"]
    networks:
      - fraud_net

networks:
  fraud_net:
    driver: bridge
